<pre *ngFor="let monster of monsterList">
      
## {{monster.name}}			  
#### Liv. {{monster.level}} ({{monster.experience}}px)
  
------------------------------------------------------------

{{monster.path}} {{monster.role}} 

**PF:** {{monster.getPF()}}		


**ROB:** {{monster.rob}} **AGI:** {{monster.agi}} **MEN:** {{monster.men}} **VOL:** {{monster.vol}}		

**ARM:** {{monster.armor}}  **TEM:** {{monster.getTem()}} **RIF:** {{monster.getRif()}} **ACU:** {{monster.getAcu()}} **SPI:** {{monster.getSpi()}}	
	
{{#QUANTITA}}2{{\QUANTITA}} {{ATTACCO_MISCHIA}} ({{ATK}}): {{GRADO_DANNO}} + {{DANNO_MISCHIA}}	
{{#QUANTITA}}2{{\QUANTITA}} {{ATTACCO_DISTANZA}} ({{ATK}}): {{GRADO_DANNO}} + {{DANNO_DISTANZA}}	

Maestria Magica: {{monster.men}}	

#### Disgrazie Conosciute ( Potenza Magica: {{monster.vol}}, {{ATK_MAGICO}} ):

<pre *ngFor="let disgraceRank of monster.getRanks()">
* **Disgrazie Rango {{disgraceRank}}:**
<pre *ngFor="let disgrace of monster.getDisgracesPerRank(disgraceRank)">
* *{{disgrace}}* 
</pre>
</pre>

	
Tratti:

<pre *ngFor="let trait of monster.traits">
* *{{trait.name}}*: {{trait.description}}
</pre>


Competenze:

<pre *ngFor="let proficiency of monster.proficiencies">
* *{{proficiency}}*
</pre>
        

------------------------------------------------------------

{{TESTO_MOSTRO}}	

------------------------------------------------------------

</pre>